<%- include("partials/layout/header") %> 
<h1 class="text-2xl text-slate-500">Favorite Exercises</h1>
    <% if (noFavorites) { %>
    <div class="mt-40 text-center">
        <svg class="w-12 h-12 mx-auto text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
        </svg>
        <h3 class="mt-2 text-sm font-medium text-gray-900">No favorites</h3>
        <p class="mt-1 text-sm text-gray-500">Get started by marking as favorite some exercises.</p>
        <div class="mt-6">
          <a href="/exercises" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-coral hover:bg-coral-dark focus:outline-none focus:ring-2 focus:ring-coral focus:ring-offset-2">
            <svg class="w-5 h-5 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
                See all exercises
          </a>
        </div>
    </div>
  
    <% } else { %> 
        <ul class="grid grid-cols-1 gap-10 mt-10 lg:grid-cols-2">
            <% favorites.forEach(favorite => { %> 
                <li class="relative overflow-hidden rounded-lg shadow-xl shadow-slate-300">
                    <a href="/exercises/<%= favorite._id %>">
                       <img src="<%= favorite.thumbnail %>" alt="exercise thumbnail"> 
                        <div class="absolute inset-0 z-10 bg-gradient-to-t from-black">
                           <span class="absolute bottom-0 z-20 p-5 text-lg text-white text-ellipsis"><%= favorite.title %></span>
                        </div>
                </li>
            <% }) %> 
        </ul>
    <% } %> 
<%- include("partials/layout/footer") %> 
